body{
    margin: 0;
    background-color: #efefef;
    font-size: 12px;
    font-family: 微软雅黑;
}
.clear{clear:both;}

.header h1{
     color:#0c6;
     text-align: center; 
     line-height: 200%; 
     font-size: 32px;
     font-weight: bold;
}
.container{
    width: 900px;
    margin: auto;
}
.container .box1,.box3{
    float: left;
    width: 400px;
    background: #fff;
    padding: 10px;
}
.container .box2,.box4{
    float: right;
    width: 400px;
    background: #fff;
    padding: 10px;
}
.container .box3,.box4{
     margin-top: 20px;
}

.job_title{
    background-color: #0c6;
    color: white;
    font-size: 14px;
    line-height: 200%; 
    text-align: center; 
    font-weight: bold;
}
.job_subtitle,.job_duty dt,.job_required dt{
    font-size: 12px;
    font-weight: bold;
    line-height: 200%;
}
dd{
    font-size: 12px;
    line-height: 180%;
}
.footer{
    line-height: 200%;
    font-size: 14px;
    background: #0c6;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}